body {
  background-color: grey;
  display: block;
}


.colors {
  width: 30%;

  /* display: flex; */

  padding-bottom: 30%;
  margin:1.66%;
  margin-bottom: 10px;
  border-radius: 9px;

}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;

}

h1 {
  color: blue;
  text-decoration: underline;
  text-align: center;
}
